<form>
    <ul class="flex-outer" ng-style="{'background': vm.style.background}">

        <!--Radio Buttons-->
        <li ng-show="vm.showRating">
            <div> How likely are you to recommend this website to a friend?</div>

            <div name="rating" class="flex-radio">
                <label for="10">10</br>
                <input type="radio" name="rating-selection" value="10" ng-model="vm.npsRating" checked>
                </label>
                <label for="9">9</br>
                <input type="radio" name="rating-selection" value="9" ng-model="vm.npsRating">
                </label>

                <label for="8">8</br>
                <input type="radio" name="rating-selection" value="8" ng-model="vm.npsRating">
                </label>

                <label for="7">7</br>
                <input type="radio" name="rating-selection" value="7" ng-model="vm.npsRating">
                </label>

                <label for="6">6</br>
                <input type="radio" name="rating-selection" value="6" ng-model="vm.npsRating">
                </label>

                <label for="5">5</br>
                <input type="radio" name="rating-selection" value="5" ng-model="vm.npsRating">
                </label>

                <label for="4">4</br>
                <input type="radio" name="rating-selection" value="4" ng-model="vm.npsRating">
                </label>

                <label for="3">3</br>
                <input type="radio" name="rating-selection" value="3" ng-model="vm.npsRating">
                </label>

                <label for="3">2</br>
                <input type="radio" name="rating-selection" value="2" ng-model="vm.npsRating">
                </label>

                <label for="1">1</br>
                <input type="radio" name="rating-selection" value="1" ng-model="vm.npsRating">
           </label>
            </div>

        </li>

        <!--Regular input-->
        <li ng-show="vm.showTest">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" placeholder="Enter your first name here">
        </li>

        <!--Text area-->
        <li ng-show="vm.showComment">
            <label for="message">Comments</label>
            <textarea rows="6" id="message" placeholder="Enter your comments here"></textarea>
        </li>

        <li>
            <button type="submit" ng-click="vm.submit()" ng-style="{'background': vm.style.buttonColor}">Submit</button>
        </li>
    </ul>
</form>